/*-----------------HEADER-----------------*/

header{
    nav{
        .menu{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: rgb(246, 227, 196);
            font-size: 15px;
            width: 0 auto;
        }
    }
}

li{
    margin-bottom: 10px;
}

.trans1{
    background-color:rgb(246, 227, 196);
    text-align: center;
}

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
}

.logo0{
    text-align: center;
}